version: "3.8"
services:
  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: saunaverse
    volumes:
      - postgres_data:/var/lib/postgresql/data
  app:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/saunaverse
      - HARVIA_PASSWORD=${HARVIA_PASSWORD}
      - HARVIA_USERNAME=${HARVIA_USERNAME}
      - AUTH_SECRET=${AUTH_SECRET}

volumes:
  postgres_data:
